  <nav>
    <span class = "bold">LOGO</span>
    <div class = "links_header">
      <a class="nav-item" href="/api/quizzes/public">Quizzes</a>
      <!-- <a>Subjects</a> -->
      <a class="nav-item" href="/api/quizzes/create_new">Create</a>
      <!-- <a>Explore</a> -->
    </div>
    <div>
      <a class="logged_in">Logged in as User</a>
      <a class="nav-item" href="/logout">Log Out</a>
    </div>

  </nav>
