  <nav>
    <span class = "bold"><i class="fab fa-quora"></i></i></span>
    <div class = "links_header">
      <a class="nav-item" href="/api/quizzes/public">Quizzes</a>
      <a class="nav-item" href="/api/quizzes/new">Create</a>
      <a class="nav-item" href="/api/profile/1">Profile</a>
      <!-- <a>Explore</a> -->
    </div>
    <% if (user) { %>
      <div>
        <a class="logged_in">Logged in as: User <%= user %>!</a>
        <a class="nav-item" href="/logout">Log Out</a>
      </div>
    <% } else { %>
      <div>
        <a class="nav-item" href="/login/1">Login</a>
      </div>
    <% } %>
  </nav>
