  <nav>
      <div class = "links_header">
      <a class="nav-item" href="/api/quizzes/public"><i class="fab fa-quora"></a></i>
        <a class="nav-item nav-link" href="/api/quizzes/public">Home</a>
        <a class="nav-item nav-link" href="/api/quizzes/new">Create</a>
        <a class="nav-item nav-link" href="/api/profile/<%= user %>">Profile</a>
      <!-- <a>Explore</a> -->
    </div>
    <% if (user) { %>
      <div>
        <a class="nav-item logged_in">Logged in as: <%= user %>!</a>
        <a class="nav-item" href="/logout">Log Out</a>
      </div>
    <% } else { %>
      <div>
        <a class="nav-item" href="/login/1">Login</a>
      </div>
    <% } %>
  </nav>
