  <nav>
    <span class = "bold">LOGO</span>
    <div class = "links_header">
      <a>Quizzes</a>
      <a>Subjects</a>
      <a>Create</a>
      <a>Explore</a>
    </div>
    <a class="logged_in">Logged in as User</a>
    <a>Log Out</a>
  </nav>