<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/quiz_results.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font awesome library-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <!-- fonts for CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>

<body>
  <nav>
    <span class = "bold">LOGO</span>
    <div class = "links_header">
      <a>Quizzes</a>
      <a>Subjects</a>
      <a>Create</a>
      <a>Explore</a>
    </div>
    <a> Login</a>
  </nav>
  <div class = "quiz_results public_quizzes">
    <table>
      <thead>
        <tr>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>        
        <% for(let item of results) { %>
          <tr>
            <td><%= item.question %></td>
            <td><%= item.answer %></td>
            <td><%= item.score %>/1</td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <div class="total">
      <h3>Total: <%= results[0].total %>/4</h3>
    </div>
  </div>
</body>

</html>
