body {
  display: flex;
  justify-content: center;
  min-height: 150vh;
  background: linear-gradient(
    360deg,
    #feada6 0%,
    #f5efef 100%
  );
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #8c8cd4;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  z-index : -1;
}

div.login_msg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 200px;
}

p.login_msg {
  color: #042110;
  font-weight: bold;
}

span.login_msg {
  background-color: #fffdd0;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.public_quizzes {
  display: flex;
  flex-direction: column;
  margin-top: 12.5%;
  margin-bottom: 5%;
  width: 50%;
  height: 100vh;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  color: black;
}

th,
td {
  width: 150px;
  text-align: center;
  padding: 5px;
}

.create_new_quiz {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
  margin: 100px;
  margin-top: 100px;
}

.create_title {
  color: #fffdd0;
  font-size: 24px;
}

.quiz_info_form {
  display: flex;
  justify-content: space-between;
  background: #f5f4eb;
  margin: 10px;
  padding: 10px;
  border-radius: 15px 15px 15px 15px;
  column-gap: 2px;
}

.quiz_question_container {
  display: flex;
  flex-direction: column;
}

.question_1 {
  background: #f5f4eb;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
}

.question_box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

input {
  border-radius: 10px 10px 10px 10px;
}

.question_options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.create_btn {
  margin: 100px;
}

.links_header {
  display: flex;
  flex-direction: row;
  column-gap: 10%;
}

.single_question_box {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
}

.solns {
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
}
