
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #a3d0db;
  background: #FFFFFF;
}



.public_quizzes {
  background: #FAC7D9;
  height: 612px;
  width: 469px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  color: black;
}

th,
td {
  width: 150px;
  text-align: center;
  padding: 5px;
}


.create_new_quiz{
  background-color: C7E4FA;
}
