
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #a3d0db;
  background: #FFFFFF;
}

.fab {
  font-size: 40px;
  color: darkslateblue;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  word-spacing: 0px;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  color: darkslateblue;
  font-size: 18px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.public_quizzes {
  display: flex;
  flex-direction: column;
  background: #FAC7D9;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 50%;
  height: 100vh;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  color: black;
}

th,
td {
  width: 150px;
  text-align: center;
  padding: 5px;
}

.create_new_quiz{
  display: flex;
  flex-direction: column;
  background-color: #C7E4FA;
  height: 800px;
  width: 100%;
  margin: 100px;
  margin-top: 100px;
}

.quiz_info_form{
  display: flex;
  justify-content: space-between;
  background: #F5F4EB;
  margin: 10px;
  padding: 10px;
}

.quiz_question_container{
  display: flex;
  flex-direction: column;
}

.question_1{
  background: #F5F4EB;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question_box{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.question_options{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.create_btn{
  margin: 100px;
}

.links_header {
  display: flex;
  flex-direction: row;
  column-gap: 10%;
}
.single_question_box{
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
}
