nav {
  height: 70px;
  width: 100%;
  color: #ffffff;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  top: 0; /*to make the nav bar stay at the top*/
  position: fixed; /*overlaying the nav bar*/
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.fab {
  font-size: 40px;
  color: #042110;
}

.bold {
  font-weight: bold;
}

#logo {
  font-weight: bold;
  width: 193px;
}

.links_header {
  word-spacing: 30px;
  font-size: 40px;
}

.logged_in {
  margin-right: 10px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 0px;
}

.nav-item {
  text-decoration: none;
  font-weight: bold;
  color: #042110;
  font-size: 20px;
}
