nav {
  height: 75px;
  width: 100%;
  background-color: #FEADA6;
  color: #FFFFFF;
  top: 0; /*to make the nav bar stay at the top*/
  position: fixed; /*overlaying the nav bar*/
  // font-family: 'Roboto', 'sans-serif';
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  /*Class for the TWEETER word */
  // span {
  //   font-family: "Roboto", sans-serif;
  //   display: flex;
  //    font-size: 18px;
  //   align-items: center;
  // }

.bold{
  font-weight: bold;
}

#logo {
  font-weight: bold;
  width:193px;
}

.links_header {
  word-spacing: 30px;
  font-size: 40px;
}

.logged_in {
  margin-right: 10px;
}


