.hide {
  display: none !important;
}

.profile_container {
  display: flex;
  flex-direction: row;
  width: 90%;
  column-gap: 10%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.start_quiz {
  text-decoration: none;
}

.private_quizzes {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  margin-top: 12.5%;
  margin-bottom: 5%;
  width: 70%;
  height: 100vh;
  border-radius: 30px;
}

.fa-toggle-off {
  font-size: 25px;
}

.fa-toggle-on {
  font-size: 25px;
}

.public_table_title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Be Vietnam Pro', sans-serif;

}

#list_public {
  display: flex;
  flex-direction: column;

}

.public_table {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.public_table_rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.copy_link {
  display:block;
  font-size: 15px;
  text-align: center;
  margin: auto;
  // margin-bottom:1em;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  // margin-top:10px;
  background: #2f2f2f;
  color: #fff;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  cursor: pointer;
}
