.hide {
  display: none !important;
}

.profile_container {
  display: flex;
  flex-direction: row;
  width: 90%;
  column-gap: 10%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.start_quiz {
  text-decoration: none;
}

.private_quizzes {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #C7E4FA;
}

.fa-toggle-off {
  font-size: 25px;
}

.fa-toggle-on {
  font-size: 25px;
}

.public_table_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#list_public {
  display: flex;
  flex-direction: column;

}

.public_table {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.public_table_rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
