.container {
  // background: #D8C3A5;
  // background: linear-gradient(
  // 200deg,
  // #93A5CF 0%,
  // #E4EFE9 100%
  // );
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 7em;
  margin-bottom: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.container article {
  padding-left: 3em;
}

.quiz_title {
  font-size: 35px;
  font-weight:bold;
  margin: 0.8em;
}

.question {
  font-size: 23px;
  font-weight:bold;
  margin-bottom: 15px;
}

.bubble {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  padding-top:2em;
}

.answers {
  font-size: 23px;
  margin-bottom: 1em;
  padding-left: 1em;
}

.button {
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom:1.5em;
  width: 160px;
  height: 70px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 22px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

article {
  margin-bottom: 4em;
  background-color: #EAE7DC;
  margin-left: 4em;
  margin-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}
