.quiz_results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FAC7D9;
  padding-left: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-top: 1em;
  height: 612px;
  width: 80%;
}

.total {
  display: flex;
  justify-content: center;
}
