.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
  margin: auto;
}

.quiz_results {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #FAC7D9;
  margin: auto;
  height: 100%;
  width: 100%;
  column-gap: 40px;
}

.total {
  display: flex;
  justify-content: center;
}
