.results_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results_options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 2em;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.try_again {
  display:block;
  text-align: center;
  margin: auto;
  margin-bottom:1em;
  width: 160px;
  height: 70px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 20px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  cursor: pointer;
}

.question { // take out if dont need
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
}


.total {
  display: flex;
  justify-content: center;
}
